/* Asegura que todas las fotos tengan la misma altura y no se deformen */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Estilos para la tarjeta interactiva */
.card-noticia {
    cursor: pointer;
    /* Manita al pasar el rat칩n */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    /* Suaviza la animaci칩n */
}

/* Efecto al pasar el rat칩n por encima */
.card-noticia:hover {
    transform: translateY(-5px);
    /* Se mueve 5px hacia arriba */
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    /* Sombra m치s fuerte */
}