/* Mismo layout que login; tema rojo en lugar de azul (Bootstrap primary) */

.register-wrapper .btn-register {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
}

.register-wrapper .btn-register:hover {
  background-color: #bb2d3b;
  border-color: #b02a37;
  color: #fff;
}

.register-wrapper .btn-register:focus,
.register-wrapper .btn-register:active {
  background-color: #b02a37;
  border-color: #a52834;
  color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
}

.register-wrapper .form-control:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

.register-wrapper .register-link {
  color: #dc3545;
}

.register-wrapper .register-link:hover {
  color: #bb2d3b;
}
