/* Cabecera */
.header{
  padding: 16px;
  background: linear-gradient(180deg, black);
  color: whitesmoke;
}

.header-grid{
  display: grid;
  grid-template-columns: 1fr auto; 
  gap: 20px;
  align-items: center;
}

.nombre-marca{
  letter-spacing: .2em;
  font-size: 12px;
  opacity: .7;
}

.nombre-periodico{
  margin: 6px 0 4px 0;
  font-size: 34px;
  line-height: 1.05;
}

.container{
  width: min(1050px, 100% - 32px);
  margin-inline: auto;
}

.btn{
  display: inline-block;
  padding: 10px 14px;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid darkred;
  color: white;
  background-color: transparent;
  transition: color 0.3s, background-color 0.3s;
}

.btn:hover{
  color: white;
  background-color: darkred;
}

