.header {
    padding: 1rem;
    background: #eee;
    margin-bottom: 1rem;
}

main {
    padding: 1rem;
}

footer {
    padding: 1rem;
    background: #eee;
    margin-top: 1rem;
}

body {
    padding-bottom: 110px; /* ajusta si tu footer es más alto */
  }
  