.navbar-periodico {
  background-color: black;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.navbar-periodico .nav-link {
  color: whitesmoke;
  padding: 0.75rem 0.9rem;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar-periodico .nav-link:hover {
  color: lightgray;
}

.navbar-periodico .nav-link.active {
  font-weight: 700;
}